@page "/new/write"
@layout AdminLayout

<link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" rel="stylesheet" />
 

<div class="col-md-12">
    <EditForm Model="@storyModel" OnSubmit="@HandleSubmitAsync">

        <div class="mb-5 d-flex align-items-center">
            <fieldset class="flex-grow-1">
                <legend>Set your post status</legend>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="statusDraft" name="postStatus" value="draft" checked="@storyModel.IsDraft" onchange="@(() => @storyModel.updateStatus("draft"))" />
                    <label for="statusDraft" class="form-check-label text-primary">Draft</label>
                </div>
                <div class="form-check ">
                    <input type="radio" class="form-check-input" id="statusPublished" name="postStatus" value="publish" checked="@storyModel.IsPublished" onchange="@(() => @storyModel.updateStatus("publish"))" />
                    <label for="statusPublished" class="form-check-label text-primary">Publish</label>
                </div>
            </fieldset>
             <div class="mb-5 d-flex align-items-center">
                <button class="btn btn-primary" type="submit" disabled="@string.IsNullOrEmpty(storyModel.Title)">Save</button>
             </div>
        </div>
        <div class="mt-5 mb-5">
            <input type="text" class="form-control bg-white border border-secondary" placeholder="Your post title" @bind-value="storyModel.Title" />
        </div>

         <MarkdownEditor 
            ValueHTMLChanged="@OnMarkdownValueHTMLChanged"
            Placeholder="Write your post">
        
        </MarkdownEditor>
    </EditForm>
</div>
